<div class="account-page">
  <div class="main-wrapper">
    <div class="account-content">
      <!-- <a [routerLink]="routes.jobList" class="btn btn-primary apply-btn">Apply Job</a> -->
      <div class="container">
        <!-- Account Logo -->
        <div class="account-logo">
          <a href="javascript:void(0);">
            <img src="assets/img/logo.png" alt="" />
          </a>
        </div>
        <!-- /Account Logo -->

        <div id="loader-wrapper_bassarou" *ngIf="showloader == true">
          <div id="loader">
            <div class="loader-ellips">
              <span class="loader-ellips__dot"></span>
              <span class="loader-ellips__dot"></span>
              <span class="loader-ellips__dot"></span>
              <span class="loader-ellips__dot"></span>
            </div>
          </div>
        </div>

        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">REINITIALISATION DE MOT DE PASSE</h3>
            <p class="account-subtitle">Veuillez entrer un nouveau mot de passe pour continuer </p>


            <div *ngIf="successMessage" class="alert alert-success center-text">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger center-text">{{ errorMessage }}</div>
            <!-- Account Form -->
            <form [formGroup]="editPasswordForm" (ngSubmit)="resetPassword()" novalidate>
              <div class="input-block mb-3 position-relative login-page">
                <label class="col-form-label" for="password">Nouveau mot de passe</label>
                <div class="position-relative">
                  <input class="form-control" formControlName="password"
                    [type]="Toggledata[1] ? 'password' : 'text'"
                    [class.invalid]="editPasswordForm.get('password')?.invalid && editPasswordForm.get('password')?.touched">
                  <span [ngClass]="
                      Toggledata[1] === true
                        ? 'fa toggle-password fa-eye-slash'
                        : 'fa toggle-password fa-eye'
                    " (click)="iconLogle(1)" (keydown.enter)="iconLogle(1)" tabindex="0"></span>
                </div>
                <small
                  *ngIf="editPasswordForm.get('password')?.touched && editPasswordForm.get('password')?.invalid"
                  class="text-danger">
                  Le nouveau mot de passe est obligatoire
                </small>
                <small *ngIf="editPasswordForm.errors?.['unmatchedPasswords']" class="text-danger">
                  Les valeurs ne correspondent pas.
                </small>
                <small *ngIf="editPasswordForm.errors?.['passwordTooShort']" class="text-danger">
                  Doit comporter 6 caractères au moins.
                </small>
              </div>

              <div class="input-block mb-3 position-relative login-page">
                <label class="col-form-label" for="confirm_password">Confirmer le nouveau mot de passe </label>
                <div class="position-relative">
                  <input class="form-control" formControlName="confirm_password"
                    [type]="Toggledata[2] ? 'password' : 'text'"
                    [class.invalid]="editPasswordForm.get('confirm_password')?.invalid && editPasswordForm.get('confirm_password')?.touched">
                  <span [ngClass]="
                      Toggledata[2] === true
                        ? 'fa toggle-password fa-eye-slash'
                        : 'fa toggle-password fa-eye'
                    " (click)="iconLogle(2)" (keydown.enter)="iconLogle(2)" tabindex="0"></span>
                </div>
                <small
                  *ngIf="editPasswordForm.get('confirm_password')?.touched && editPasswordForm.get('confirm_password')?.invalid"
                  class="text-danger">
                  Confirmer nouveau mot de passe est obligatoire
                </small>
                <small *ngIf="editPasswordForm.errors?.['unmatchedPasswords']" class="text-danger">
                  Les valeurs ne correspondent pas.
                </small>
              </div>
              <div class="submit-section">
                <button type="submit" class="btn btn-primary submit-btn">Modifier</button>
                <br>
                <br>
              </div>
            </form>



            <!-- /Account Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
