<!-- Contenu de la page -->

<div class="content container-fluid">

    <!-- En-tête de la page -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Catégories de Fournisseurs</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Catégories</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_categorie">
                    <i class="fa-solid fa-plus"></i> Ajouter une catégorie
                </a>
            </div>
        </div>
    </div>
    <!-- /En-tête de la page -->
    
    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label class="col-form-label">
                                Afficher
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entrées
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_filter text-end">
                            <label>Rechercher:
                                <input type="search" class="form-control form-control-sm" 
                                    (keyup)="searchData(searchDataValue)" [(ngModel)]="searchDataValue">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="to_export" class="table-responsive">
                <table matSort (matSortChange)="sortData($event)"
                    class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th mat-sort-header="code">Code</th>
                            <th mat-sort-header="intitule">Intitulé de la catégorie</th>
                            <th class="text-end" id="exclusion-1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstCategorie; let i = index;">
                            <td>{{ i + 1 }}</td>
                            <td>
                                <span class="badge bg-inverse-info">{{ item.code }}</span>
                            </td>
                            <td>{{ item.intitule }}</td>
                            <td class="text-end" id="exclusion-2">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" (click)="getEditForm(item)"
                                            data-bs-target="#edit_categorie">
                                            <i class="fa-solid fa-pencil m-r-5"></i> Modifier
                                        </a>
                                        <a class="dropdown-item" data-bs-toggle="modal" (click)="getDeleteForm(item)"
                                            data-bs-target="#delete_categorie">
                                            <i class="fa-regular fa-trash-can m-r-5"></i> Supprimer
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lstCategorie.length === 0">
                            <td colspan="4">
                                <h5 class="text-center p-3">Aucune catégorie enregistrée</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Affichage de {{ serialNumberArray[0] || 0 }} à
                        {{ serialNumberArray[serialNumberArray.length - 1] || 0 }} sur
                        {{ totalData }} entrées
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);">Précédent</a>
                            </li>
    
                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                    (pageNumberArray[currentPage - 2] > item && item !== 1 && pageNumberArray.length > 6) ||
                                    (pageNumberArray[currentPage] < item && item !== 1 && pageNumberArray.length > 6 && pageNumberArray.length !== item)
                                    ? 'hide-page-no' : 'show-page-no'">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                            </ng-container>
    
                            <li class="page-item" [ngClass]="{ disabled: currentPage === totalPages || lstCategorie.length === 0 }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Suivant</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal Ajout Catégorie -->
<div id="add_categorie" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une catégorie de fournisseur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addCategorieForm" (ngSubmit)="onClickSubmitAdd()" novalidate>
                    <div class="row">
                        <!-- Champ Code -->
                        <div class="col-md-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Code <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="code"
                                    [class.invalid]="addCategorieForm.get('code')?.invalid && addCategorieForm.get('code')?.touched">
                                <div *ngIf="addCategorieForm.get('code')?.invalid && addCategorieForm.get('code')?.touched">
                                    <small class="text-danger">Requis</small>
                                </div>
                            </div>
                        </div>
                        <!-- Champ Intitulé -->
                        <div class="col-md-8">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Intitulé <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="intitule"
                                    [class.invalid]="addCategorieForm.get('intitule')?.invalid && addCategorieForm.get('intitule')?.touched">
                                <div *ngIf="addCategorieForm.get('intitule')?.invalid && addCategorieForm.get('intitule')?.touched">
                                    <small class="text-danger">L'intitulé est requis</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-center">
                        <button class="btn btn-primary submit-btn" type="submit">
                            Enregistrer <span class="fa fa-spinner fa-spin d-none" id="spinnerr"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal Modification Catégorie -->
<div id="edit_categorie" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier la catégorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editCategorieForm" (ngSubmit)="onClickSubmitEdit()" novalidate>
                    <input type="hidden" formControlName="id">
                    <div class="row">
                        <!-- Champ Code -->
                        <div class="col-md-4">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Code <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="code"
                                    [class.invalid]="editCategorieForm.get('code')?.invalid && editCategorieForm.get('code')?.touched">
                                <div *ngIf="editCategorieForm.get('code')?.invalid && editCategorieForm.get('code')?.touched">
                                    <small class="text-danger">Requis</small>
                                </div>
                            </div>
                        </div>
                        <!-- Champ Intitulé -->
                        <div class="col-md-8">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Intitulé <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="intitule"
                                    [class.invalid]="editCategorieForm.get('intitule')?.invalid && editCategorieForm.get('intitule')?.touched">
                                <div *ngIf="editCategorieForm.get('intitule')?.invalid && editCategorieForm.get('intitule')?.touched">
                                    <small class="text-danger">L'intitulé est requis</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-center">
                        <button class="btn btn-primary submit-btn" type="submit">
                            Mettre à jour <span class="fa fa-spinner fa-spin d-none" id="spinner"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal Suppression Catégorie -->
<div class="modal custom-modal fade" id="delete_categorie" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header text-center">
                    <h3>Supprimer la catégorie</h3>
                    <p>Êtes-vous sûr de vouloir supprimer cette catégorie ?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <form [formGroup]="deleteCategorieForm">
                                <input type="hidden" formControlName="id">
                                <a href="javascript:void(0);" (click)="onClickSubmitDelete()"
                                    class="btn btn-primary continue-btn w-100">Supprimer</a>
                            </form>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn w-100">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>