<!-- Page Wrapper -->

<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Gestion des ordres de virement</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">Ordres de virement</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto"></div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="container">
      <div class="card profile-box flex-fill">
        <div class="card-body">
          <h3 class="card-title">générer un Ordre de virement</h3>

          <div class="row">
            <div class="col-md-4">
              <div class="input-block mb-3">
                <label class="col-form-label" for=""> Banque </label>

                <mat-select
                  class="user-assets select form-control"
                  placeholder="-"
                  [compareWith]="compareEmployeObjects"
                  [(value)]="selectedEmp"
                >
                  <mat-option [value]="selectedEmp"> </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-block mb-3">
                <label class="col-form-label" for=""> Année </label>

                <mat-select
                  class="user-assets select form-control"
                  placeholder="-"
                  [compareWith]="compareEmployeObjects"
                >
                  <mat-option *ngFor="let data of listAnnee" [value]="data">
                    {{ data }}
                  </mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-block mb-3">
                <label class="col-form-label" for=""> Mois </label>

                <mat-select
                  class="user-assets select form-control"
                  placeholder="-"
                  [compareWith]="compareEmployeObjects"
                >
                  <mat-option *ngFor="let data of listMois" [value]="data">
                    {{ data }}
                  </mat-option>
                </mat-select>
              </div>
            </div>

            <div class="submit-section">
              <button class="btn btn-primary submit-btn">Valider</button>
            </div>
          </div>

          <br /><br /><br />
          <br /><br /><br />
          <br /><br /><br />
          <br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
