.custom-textarea {
    line-height: 1.4; // Réduit l'espacement entre les lignes
}

.custom-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.small-btn {
  font-size: 1rem; /* Réduit la taille du texte */
  padding: 0.25rem 0.5rem; /* Réduit le rembourrage du bouton */
}
