.small-btn {
  font-size: 1rem; /* Réduit la taille du texte */
  padding: 0.25rem 0.5rem; /* Réduit le rembourrage du bouton */
}
.bg-stock-danger {
  background-color: #f8d7da;
  color: #842029;
}

.bg-stock-success {
  background-color: #d1e7dd;
  color: #0f5132;
}
