<!-- Page Wrapper -->

<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Gestion des Rapports d'immobilisations</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">Rapports inmmo</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto"></div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="container">
      <div class="card profile-box flex-fill">
        <div class="card-body">
          <h3 class="card-title">Générer un rapport</h3>

          <div id="loader-wrapper_bassarou" *ngIf="showloader == true">
            <div id="loader">
              <div class="loader-ellips">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
              </div>
            </div>
          </div>

          <form
            [formGroup]="rapportImmoForm"
            (ngSubmit)="onClickSubmitRapportImmo()"
          >
            <div class="row">
              <div class="col-md-4">
                <div class="input-block mb-3">
                  <label class="col-form-label" for=""> Type de rapport </label>

                  <mat-select
                    [(ngModel)]="selectedType"
                    class="user-assets select form-control"
                    placeholder="Selectionner le type de rapport"

                    formControlName="type_rapport"
                  >
                    <mat-option  value="fiche_transfert_immo"  >
                      <mat-option  value="rapport_immo"  >
                        FICHE DE TRANSFERT D’IMMOBILISATION
                      </mat-option>
                    </mat-option>

                    <mat-option  value="fiche_transfert_immo"  >
                      FICHE DE TRANSFERT D’IMMOBILISATION
                    </mat-option>

                    <mat-option  value="fiche_transfert_immo"  >
                      FICHE DE PRISE D’INVENTAIRE
                    </mat-option>

                    <mat-option  value="fiche_mise_dispo"  >
                      FICHE DE MISE A DISPO
                    </mat-option>


                  </mat-select>
                </div>
              </div>


              <div class="col-md-4" *ngIf="selectedType=='fiche_mise_dispo'">
                <div class="input-block mb-3">
                  <label class="col-form-label" for=""> Localisation</label>

                  <mat-select  class="select mat-cust-select form-control"

                               formControlName="bureau_id" placeholder="Selectionner le bureau">
                    <mat-option *ngFor="let item of lstBureau" [disabled]="false" [value]="item.id"
                    >{{ item.libelle }}   </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-md-4" *ngIf="selectedType=='fiche_mise_dispo'">
                <div class="input-block mb-3">
                  <label class="col-form-label" for=""> Utilisateur</label>

                  <mat-select  class="select mat-cust-select form-control"

                               formControlName="employe_id" placeholder="Selectionner l'employé">
                    <mat-option *ngFor="let item of lstEmployer" [disabled]="false" [value]="item.id"
                    >{{ item.nom }} {{ item.prenom }}    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-block mb-3">
                  <label class="col-form-label" for=""> Date de debut </label>

                  <input type="date"  class="user-assets select form-control"
                         placeholder=""

                         formControlName="date_debut">

                </div>
              </div>

              <div class="col-md-4">
                <div class="input-block mb-3">
                  <label class="col-form-label" for=""> Date de fin </label>

                  <input type="date"  class="user-assets select form-control"
                         placeholder=""

                         formControlName="date_debut">

                </div>
              </div>



              <div class="submit-section">
                <button class="btn btn-primary submit-btn">Valider</button>
              </div>
            </div>
          </form>

          <br />

          <div
            *ngIf="ordreVierementData.length != 0"
            class="table-responsive table-newdatatable"
          >
            <div class="row">
              <a
                (click)="telechargerOrdreVirement()"
                class="btn btn-success w-2"
              >
                Télécharger
              </a>
            </div>

            <table class="table table-new custom-table mb-0 datatable">
              <thead>
                <tr>
                  <th class="tg-i68j">Nº</th>
                  <th class="tg-nxfp">Nom et prénoms</th>
                  <th class="tg-nxfp">Nº compte</th>
                  <th class="tg-gljr">Montant</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of ordreVierementData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ c.employe }}</td>
                  <td>{{ c.rib }}</td>
                  <td>{{ c.salaire_net | number }}</td>
                </tr>
              </tbody>
            </table>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
