<div class="page-wrapper">
<!-- Page Content -->
  <div class="content container-fluid">

    <app-alert [message]="messageAlert" [show]="showAlert" [onClose]="hideAlert.bind(this)"></app-alert>
      <!-- Page Header -->
      <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">Liste des Transferts</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de bord</a></li>
                      <li class="breadcrumb-item active">Immobilisation</li>
                  </ul>
              </div>

  <!--            <div class="col-auto row">-->
  <!--              <div class="col-auto">-->
  <!--                <a class="btn btn-primary continue-btn small-btn" (click)="exportToPDF()">Exporter PDF-->
  <!--                  <span class="fa fa-spinner fa-spin d-none" id="spinner_pdf"></span>-->
  <!--                </a>-->
  <!--              </div>-->
  <!--              <div class="col-auto">-->
  <!--                <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn small-btn" (click)="exportToXLSX()">Exporter EXCEL-->
  <!--                  <span class="fa fa-spinner fa-spin d-none" id="spinner_xlsx"></span>-->
  <!--                </a>-->
  <!--              </div>-->
  <!--            </div>-->

              <div class="col-auto float-end ms-auto">
                  <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_transfert"><i
                          class="fa-solid fa-plus"></i> Ajouter </a>
              </div>
          </div>
      </div>
      <!-- /Page Header -->
      <div class="row">
          <div class="col-md-12">
              <div class="table_header">
                  <div class="row">
                      <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length">
                              <label class="col-form-label" for="">
                                Afficher
                                  <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                      class="form-control form-control-sm">
                                      <option value="10">10</option>
                                      <option value="25">25</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                  </select>
                                  Entrées
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="to_export" class="table-responsive">
                  <table
  matSort
  class="table table-striped custom-table datatable mb-0"
>
  <thead>
    <tr>
      <th style="width: 30px;">#</th>
      <th>CODE</th>
      <th>DÉSIGNATION</th>
      <th>ANCIEN LOCALISATION</th>
      <th>NOUVEAU LOCALISATION</th>
      <th>ANC. DIRECTION/CENTRE</th>
      <th>NOUV. DIRECTION/CENTRE</th>
      <th>NOUVEL UTILISATEUR</th>
      <th>DATE TRANSFERT</th>
      <th>OBSERVATION</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of lstTransfertImmo; let i = index">
      <td>{{ i + 1 }}</td>

      <!-- Immobilisation -->
      <td>{{ item.immobilisation?.code }}</td>
      <td>{{ item.immobilisation?.designation }}</td>

      <!-- Ancienne localisation + site -->
      <td>
        {{ item.ancienne_localisation?.nom_localisation }}
        <br />
        <small class="text-muted">
          {{ item.ancienne_localisation?.site?.nom_site }}
        </small>
      </td>

      <!-- Nouvelle localisation + site -->
      <td>
        {{ item.nouvelle_localisation?.nom_localisation }}
        <br />
        <small class="text-muted">
          {{ item.nouvelle_localisation?.site?.nom_site }}
        </small>
      </td>

      <!-- Ancien département -->
      <td>
        {{ item.ancienne_direction?.intitule }}
        <br />
        <small class="text-muted">{{ item.ancienne_direction?.code }}</small>
      </td>

      <!-- Nouveau département -->
      <td>
        {{ item.nouvelle_direction?.intitule }}
        <br />
        <small class="text-muted">{{ item.nouvelle_direction?.code }}</small>
      </td>

      <!-- Nouveau utilisateur -->
      <td>
        {{ item.nouveau_utilisateur?.prenom }}
        {{ item.nouveau_utilisateur?.nom }}
      </td>

      <!-- Date -->
      <td>{{ item.date_transfert | date: 'dd-MM-yyyy' }}</td>

      <!-- Observation -->
      <td>{{ item.observation || '-' }}</td>

      <!-- Actions -->
      <td class="text-end">
        <div class="dropdown dropdown-action">
          <a
            class="action-icon dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="material-icons">more_vert</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              (click)="getEditForm(item)"
              data-bs-target="#edit_transfert"
            >
              <i class="fa-solid fa-pencil m-r-5"></i> Modifier
            </a>
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              (click)="getDeleteForm(item)"
              data-bs-target="#delete_transfert"
            >
              <i class="fa-regular fa-trash-can m-r-5"></i> Supprimer
            </a>
          </div>
        </div>
      </td>
    </tr>

    <tr *ngIf="lstTransfertImmo.length === 0">
      <td colspan="11" class="text-center">
        <h5>Aucun Résultat</h5>
      </td>
    </tr>
  </tbody>
</table>

                  <br />
          <br />
          <br />
              </div>
              <div class="table_footer">
                  <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                        Affichage de {{ serialNumberArray[0] }} à
                          {{ serialNumberArray[serialNumberArray.length - 1] }} sur
                          {{ totalData }} Entrées
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-7">
                      <div class="pagination_section">
                          <ul class="pagination">
                              <li class="page-item" [ngClass]="{
                            disabled: currentPage === 1
                          }">
                                  <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                      tabindex="-1">Précédent</a>
                              </li>

                              <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                  <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                              (pageNumberArray[currentPage - 2] > item &&
                                item !== 1 &&
                                pageNumberArray.length > 6) ||
                              (pageNumberArray[currentPage] < item &&
                                item !== 1 &&
                                pageNumberArray.length > 6 &&
                                pageNumberArray.length !== item)
                                ? 'hide-page-no'
                                : 'show-page-no'
                            ">
                                      <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                          {{ item }}
                                      </a>
                                  </li>
                                  <li class="page-item" *ngIf="
                              i === 0 && pageNumberArray.length > 6 && currentPage > 2
                            " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                      <a class="page-link" href="javascript:void(0);"> ... </a>
                                  </li>
                                  <li *ngIf="
                              i === pageNumberArray.length - 2 &&
                              pageNumberArray.length > 6
                            " [hidden]="
                              currentPage >=
                                pageNumberArray[pageNumberArray.length - 2] ||
                              totalData < serialNumberArray[serialNumberArray.length - 1]
                            " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                      <a class="page-link" href="javascript:void(0);"> ... </a>
                                  </li>
                              </ng-container>

                              <li class="page-item" [ngClass]="{
                            disabled:
                              currentPage ===
                                pageNumberArray[pageNumberArray.length - 1] ||
                              lstTransfertImmo.length === 0
                          }">
                                  <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Suivant
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /Page Content -->
  <!-- Add Poste Modal -->
  <div id="add_transfert" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Transfert</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="addTransfertImmoForm" 
      (ngSubmit)="onClickSubmitAddImmo()"
      novalidate>

  <!-- DATE -->
  <div class="input-block mb-3">
    <label class="col-form-label">Date <span class="text-danger">*</span></label>
    <input type="date" class="form-control"
           formControlName="date_transfert"
           [class.invalid]="addTransfertImmoForm.get('date_transfert')?.invalid && addTransfertImmoForm.get('date_transfert')?.touched"/>

    <div *ngIf="addTransfertImmoForm.get('date_transfert')?.invalid && addTransfertImmoForm.get('date_transfert')?.touched">
      <small class="text-danger">* La date est obligatoire</small>
    </div>
  </div>

  <!-- IMMOBILISATION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Immobilisation <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
            formControlName="immobilisation_id"
            (selectionChange)="onImmoChange($event.value)"
            [class.invalid]="addTransfertImmoForm.get('immobilisation_id')?.invalid && addTransfertImmoForm.get('immobilisation_id')?.touched">
  <mat-option *ngFor="let item of lstImmo" [value]="item.id">
    {{ item.code }} - {{ item.designation }}
  </mat-option>
</mat-select>



    <div *ngIf="addTransfertImmoForm.get('immobilisation_id')?.invalid && addTransfertImmoForm.get('immobilisation_id')?.touched">
      <small class="text-danger">* L’immobilisation est obligatoire</small>
    </div>
  </div>

  <!-- ANCIENNE LOCALISATION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Ancienne Localisation</label>
    <input class="form-control" type="text" readonly
      [value]="selectedImmo?.ancienne_localisation?.nom_localisation" />
  </div>

  <!-- ANCIEN UTILISATEUR -->
  <!-- ANCIEN UTILISATEUR -->
<div class="input-block mb-3">
  <label class="col-form-label">Ancien Utilisateur</label>
  <input class="form-control" type="text" readonly
    [value]="selectedImmo?.ancien_utilisateur 
              ? (selectedImmo.ancien_utilisateur.prenom + ' ' + selectedImmo.ancien_utilisateur.nom)
              : ''" />
</div>


  <!-- ANCIENNE DIRECTION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Ancienne Direction</label>
    <input class="form-control" type="text" readonly
      [value]="selectedImmo?.ancienne_direction?.intitule" />
  </div>

  <!-- NOUVEL UTILISATEUR -->
  <div class="input-block mb-3">
    <label class="col-form-label">Nouvel Utilisateur <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
                formControlName="nouveau_utilisateur_id"
                [class.invalid]="addTransfertImmoForm.get('nouveau_utilisateur_id')?.invalid && addTransfertImmoForm.get('nouveau_utilisateur_id')?.touched">
      <mat-option *ngFor="let e of lstEmployer" [value]="e.id">
        {{ e.prenom }} {{ e.nom }}
      </mat-option>
    </mat-select>

    <div *ngIf="addTransfertImmoForm.get('nouveau_utilisateur_id')?.invalid && addTransfertImmoForm.get('nouveau_utilisateur_id')?.touched">
      <small class="text-danger">* Le nouvel utilisateur est obligatoire</small>
    </div>
  </div>

  <!-- NOUVELLE LOCALISATION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Nouvelle Localisation <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
                formControlName="nouvelle_localisation_id"
                [class.invalid]="addTransfertImmoForm.get('nouvelle_localisation_id')?.invalid && addTransfertImmoForm.get('nouvelle_localisation_id')?.touched">
      <mat-option *ngFor="let b of lstLocalisation" [value]="b.id">
        {{ b.nom_localisation }} - {{ b.site?.nom_site }}
      </mat-option>
    </mat-select>

    <div *ngIf="addTransfertImmoForm.get('nouvelle_localisation_id')?.invalid && addTransfertImmoForm.get('nouvelle_localisation_id')?.touched">
      <small class="text-danger">* La nouvelle localisation est obligatoire</small>
    </div>
  </div>

  <!-- NOUVELLE DIRECTION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Nouvelle Direction <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
                formControlName="nouvelle_direction_id"
                [class.invalid]="addTransfertImmoForm.get('nouvelle_direction_id')?.invalid && addTransfertImmoForm.get('nouvelle_direction_id')?.touched">
      <mat-option *ngFor="let d of lstDirection" [value]="d.id">
        {{ d.intitule }}
      </mat-option>
    </mat-select>

    <div *ngIf="addTransfertImmoForm.get('nouvelle_direction_id')?.invalid && addTransfertImmoForm.get('nouvelle_direction_id')?.touched">
      <small class="text-danger">* La direction est obligatoire</small>
    </div>
  </div>

  <!-- OBSERVATION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Observation</label>
    <textarea class="form-control" rows="3" formControlName="observation"></textarea>
  </div>

  <div class="submit-section">
    <button class="btn btn-primary submit-btn" type="submit">
      Enregistrer
    </button>
  </div>
</form>

              </div>
          </div>
      </div>
  </div>
  <!-- /Add Poste Modal -->

  <!-- Edit poste Modal -->
  <div id="edit_transfert" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier le Transfert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="editTransfertImmoForm"
              (ngSubmit)="onClickSubmitEditTransfert()"
              novalidate>

          <input type="hidden" formControlName="id">

          <!-- DATE -->
          <div class="input-block mb-3">
            <label>Date *</label>
            <input type="date" class="form-control"
                   formControlName="date_transfert">
          </div>

          <!-- IMMOBILISATION -->
          <div class="input-block mb-3">
            <label>Immobilisation *</label>
            <mat-select
  class="select form-control"
  (selectionChange)="onImmoChangeEdit($event.value)"
  formControlName="immobilisation_id">

              <mat-option *ngFor="let item of lstImmo" [value]="item.id">
                {{ item.code }} - {{ item.designation }}
              </mat-option>
            </mat-select>
          </div>

          <!-- READONLY -->
          <div class="input-block mb-3">
            <label>Ancienne Localisation</label>
            <input class="form-control" readonly
                   [value]="selectedImmo?.ancienne_localisation?.nom_localisation">
          </div>

          <div class="input-block mb-3">
            <label>Ancien Utilisateur</label>
            <input class="form-control" readonly
                   [value]="selectedImmo?.ancien_utilisateur ? 
                     (selectedImmo.ancien_utilisateur.prenom + ' ' + selectedImmo.ancien_utilisateur.nom) : ''">
          </div>

          <div class="input-block mb-3">
            <label>Ancienne Direction</label>
            <input class="form-control" readonly
                   [value]="selectedImmo?.ancienne_direction?.intitule">
          </div>

          <!-- NOUVEAUX -->
           <!-- NOUVEL UTILISATEUR -->
  <div class="input-block mb-3">
    <label class="col-form-label">Nouvel Utilisateur <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
                formControlName="nouveau_utilisateur_id"
                [class.invalid]="editTransfertImmoForm.get('nouveau_utilisateur_id')?.invalid && editTransfertImmoForm.get('nouveau_utilisateur_id')?.touched">
      <mat-option *ngFor="let e of lstEmployer" [value]="e.id">
        {{ e.prenom }} {{ e.nom }}
      </mat-option>
    </mat-select>

    <div *ngIf="editTransfertImmoForm.get('nouveau_utilisateur_id')?.invalid && editTransfertImmoForm.get('nouveau_utilisateur_id')?.touched">
      <small class="text-danger">* Le nouvel utilisateur est obligatoire</small>
    </div>
  </div>

  <!-- NOUVELLE LOCALISATION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Nouvelle Localisation <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
                formControlName="nouvelle_localisation_id"
                [class.invalid]="editTransfertImmoForm.get('nouvelle_localisation_id')?.invalid && editTransfertImmoForm.get('nouvelle_localisation_id')?.touched">
      <mat-option *ngFor="let b of lstLocalisation" [value]="b.id">
        {{ b.nom_localisation }} - {{ b.site?.nom_site }}
      </mat-option>
    </mat-select>

    <div *ngIf="editTransfertImmoForm.get('nouvelle_localisation_id')?.invalid && editTransfertImmoForm.get('nouvelle_localisation_id')?.touched">
      <small class="text-danger">* La nouvelle localisation est obligatoire</small>
    </div>
  </div>

  <!-- NOUVELLE DIRECTION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Nouvelle Direction <span class="text-danger">*</span></label>
    <mat-select class="select form-control"
                formControlName="nouvelle_direction_id"
                [class.invalid]="editTransfertImmoForm.get('nouvelle_direction_id')?.invalid && editTransfertImmoForm.get('nouvelle_direction_id')?.touched">
      <mat-option *ngFor="let d of lstDirection" [value]="d.id">
        {{ d.intitule }}
      </mat-option>
    </mat-select>

    <div *ngIf="editTransfertImmoForm.get('nouvelle_direction_id')?.invalid && editTransfertImmoForm.get('nouvelle_direction_id')?.touched">
      <small class="text-danger">* La direction est obligatoire</small>
    </div>
  </div>

  <!-- OBSERVATION -->
  <div class="input-block mb-3">
    <label class="col-form-label">Observation</label>
    <textarea class="form-control" rows="3" formControlName="observation"></textarea>
  </div>


          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit">
              Mettre à jour
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

  <!-- /Edit Department Modal -->

  <!-- Delete Department Modal -->
  <div class="modal custom-modal fade" id="delete_transfert" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="form-header">
                      <h3>Supprimer le Transfert</h3>
                      <p>Êtes-vous sûr de vouloir supprimer ?</p>
                  </div>
                  <div class="modal-btn delete-action">
                      <div class="row">
                          <div class="col-6">
                            <form [formGroup]="deleteEntreeImmoForm" (ngSubmit)="onClickSubmitDeleteTransfert()">
                              <input type="hidden" formControlName="id">
                              <a href="javascript:void(0);" class="btn btn-primary continue-btn" type="submit" (click)="onClickSubmitDeleteTransfert()">Supprimer</a>
                            </form>
                          </div>
                          <div class="col-6">
                              <a href="javascript:void(0);" data-bs-dismiss="modal"
                                  class="btn btn-primary cancel-btn">Annuler</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /Delete Department Modal -->
</div>
