<div class="page-wrapper">
<!-- Page Content -->
  <div class="content container-fluid">

    <app-alert [message]="messageAlert" [show]="showAlert" [onClose]="hideAlert.bind(this)"></app-alert>
      <!-- Page Header -->
      <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">Liste des Transferts</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de bord</a></li>
                      <li class="breadcrumb-item active">Immobilisation</li>
                  </ul>
              </div>

  <!--            <div class="col-auto row">-->
  <!--              <div class="col-auto">-->
  <!--                <a class="btn btn-primary continue-btn small-btn" (click)="exportToPDF()">Exporter PDF-->
  <!--                  <span class="fa fa-spinner fa-spin d-none" id="spinner_pdf"></span>-->
  <!--                </a>-->
  <!--              </div>-->
  <!--              <div class="col-auto">-->
  <!--                <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn small-btn" (click)="exportToXLSX()">Exporter EXCEL-->
  <!--                  <span class="fa fa-spinner fa-spin d-none" id="spinner_xlsx"></span>-->
  <!--                </a>-->
  <!--              </div>-->
  <!--            </div>-->

              <div class="col-auto float-end ms-auto">
                  <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_department"><i
                          class="fa-solid fa-plus"></i> Ajouter </a>
              </div>
          </div>
      </div>
      <!-- /Page Header -->
      <div class="row">
          <div class="col-md-12">
              <div class="table_header">
                  <div class="row">
                      <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length">
                              <label class="col-form-label" for="">
                                Afficher
                                  <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                      class="form-control form-control-sm">
                                      <option value="10">10</option>
                                      <option value="25">25</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                  </select>
                                  Entrées
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="to_export" class="table-responsive">
                  <table matSort (matSortChange)="sortData($event)"
                      class="table table-striped custom-table datatable mb-0">
                      <thead>
                          <tr>
                              <th style="width: 30px;">#</th>
                              <th mat-sort-header="departmentName">CODE</th>
                              <th mat-sort-header="departmentName">DESIGNATION</th>
                              <th mat-sort-header="departmentName">ANCIEN LIEU D’UTILISATION</th>
                              <th mat-sort-header="departmentName">LIEU D’AFFECTATION </th>
                              <th mat-sort-header="departmentName">DESTINATEUR </th>
                              <th mat-sort-header="departmentName">DATE</th>
                              <th mat-sort-header="departmentName"> Obs</th>
                              <th class="text-end" id="exclusion-1">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of lstTransfertImmo; let i = index;">
                              <td>{{i+1}}</td>
                              <td>{{ item.immo.code}}</td>
                              <td>{{item.immo.designation}}</td>

                              <td>{{item.old_bureau }}</td>
                              <td>{{item.bureau.libelle}}</td>
                            <td>{{item.employe.prenom}} {{item.employe.nom}}</td>
                              <td>{{item.date_mouvement    | date : "dd-MM-YYYY"}}</td>
                              <td>{{item.Observation  }}</td>



                              <td class="text-end" id="exclusion-2">
                                  <div class="dropdown dropdown-action">
                                      <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                          aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                      <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" data-bs-toggle="modal" (click)="getEditForm(item)"
                                              data-bs-target="#edit_department"><i class="fa-solid fa-pencil m-r-5"></i>
                                              Modifier</a>
                                          <a class="dropdown-item" data-bs-toggle="modal" (click)="getDeleteForm(item)"
                                              data-bs-target="#delete_department"><i class="fa-regular fa-trash-can m-r-5"></i>
                                              Supprimer</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr *ngIf="lstTransfertImmo.length === 0">
                              <td colspan="10">
                                  <h5 style="text-align: center;">Aucun Résultat</h5>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <br />
          <br />
          <br />
              </div>
              <div class="table_footer">
                  <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info">
                        Affichage de {{ serialNumberArray[0] }} à
                          {{ serialNumberArray[serialNumberArray.length - 1] }} sur
                          {{ totalData }} Entrées
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-7">
                      <div class="pagination_section">
                          <ul class="pagination">
                              <li class="page-item" [ngClass]="{
                            disabled: currentPage === 1
                          }">
                                  <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                      tabindex="-1">Précédent</a>
                              </li>

                              <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                  <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                              (pageNumberArray[currentPage - 2] > item &&
                                item !== 1 &&
                                pageNumberArray.length > 6) ||
                              (pageNumberArray[currentPage] < item &&
                                item !== 1 &&
                                pageNumberArray.length > 6 &&
                                pageNumberArray.length !== item)
                                ? 'hide-page-no'
                                : 'show-page-no'
                            ">
                                      <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                          {{ item }}
                                      </a>
                                  </li>
                                  <li class="page-item" *ngIf="
                              i === 0 && pageNumberArray.length > 6 && currentPage > 2
                            " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                      <a class="page-link" href="javascript:void(0);"> ... </a>
                                  </li>
                                  <li *ngIf="
                              i === pageNumberArray.length - 2 &&
                              pageNumberArray.length > 6
                            " [hidden]="
                              currentPage >=
                                pageNumberArray[pageNumberArray.length - 2] ||
                              totalData < serialNumberArray[serialNumberArray.length - 1]
                            " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                      <a class="page-link" href="javascript:void(0);"> ... </a>
                                  </li>
                              </ng-container>

                              <li class="page-item" [ngClass]="{
                            disabled:
                              currentPage ===
                                pageNumberArray[pageNumberArray.length - 1] ||
                              lstTransfertImmo.length === 0
                          }">
                                  <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Suivant
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /Page Content -->
  <!-- Add Poste Modal -->
  <div id="add_department" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Transfert</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="addTransfertImmoForm" (ngSubmit)="onClickSubmitAddImmo()" novalidate>


                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">Date<span class="text-danger">*</span></label>
                    <input class="form-control" type="date"
                        [class.invalid]="addTransfertImmoForm.get('date_mouvement')?.invalid && addTransfertImmoForm.get('date_mouvement')?.touched"
                        formControlName="date_mouvement">
                    <div
                        *ngIf="addTransfertImmoForm.get('date_mouvement')?.invalid && addTransfertImmoForm.get('date_mouvement')?.touched">
                        <small
                            *ngIf="addTransfertImmoForm.get('date_mouvement')?.invalid && addTransfertImmoForm.get('date_mouvement')?.touched"
                            class="text-danger"> *la date est obligatoire</small>
                    </div>
                </div>

                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">Designation<span class="text-danger">*</span></label>

                    <input type="hidden"    formControlName="immo_id">
                    <mat-select  class="select mat-cust-select form-control"
                                 [(ngModel)]="selectedImmo"
                                 formControlName="immo"
                                 (selectionChange)="selectedImmoChange()"
                                 [class.invalid]="addTransfertImmoForm.get('immo')?.invalid && addTransfertImmoForm.get('immo')?.touched"
                                placeholder="Selectionner  ">
                      <mat-option *ngFor="let item of lstImmo" [disabled]="false" [value]="item"
                      >{{ item.designation }}   </mat-option>
                    </mat-select>
                    <div
                      *ngIf="addTransfertImmoForm.get('immo')?.invalid && addTransfertImmoForm.get('immo')?.touched">
                      <small
                        *ngIf="addTransfertImmoForm.get('immo')?.invalid && addTransfertImmoForm.get('immo')?.touched"
                        class="text-danger"> *la designation est obligatoire</small>
                    </div>

                  </div>

                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">ANCIEN LIEU D’UTILISATION<span class="text-danger">*</span></label>
                    <input class="form-control" type="text" readonly
                           [class.invalid]="addTransfertImmoForm.get('old_bureau')?.invalid && addTransfertImmoForm.get('old_bureau')?.touched"
                           formControlName="old_bureau">

                   </div>

                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">ANCIEN UTILISATEUR<span class="text-danger">*</span></label>
                    <input class="form-control" type="text" readonly
                           [class.invalid]="addTransfertImmoForm.get('old_employe')?.invalid && addTransfertImmoForm.get('old_employe')?.touched"
                           formControlName="old_employe">

                  </div>





                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">LIEU D’AFFECTATION<span class="text-danger">*</span></label>

                    <mat-select  class="select mat-cust-select form-control"
                                 [class.invalid]="addTransfertImmoForm.get('bureau_id')?.invalid && addTransfertImmoForm.get('bureau_id')?.touched"
                                 formControlName="bureau_id" placeholder="Selectionner le bureau">
                      <mat-option *ngFor="let item of lstBureau" [disabled]="false" [value]="item.id"
                      >{{ item.libelle }}   </mat-option>
                    </mat-select>
                    <div
                      *ngIf="addTransfertImmoForm.get('bureau_id')?.invalid && addTransfertImmoForm.get('bureau_id')?.touched">
                      <small
                        *ngIf="addTransfertImmoForm.get('bureau_id')?.invalid && addTransfertImmoForm.get('bureau_id')?.touched"
                        class="text-danger"> *le lieu d'affectation est obligatoire</small>
                    </div>
                  </div>

                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">DESTINATEUR<span class="text-danger"></span></label>

                    <mat-select  class="select mat-cust-select form-control"
                                 [class.invalid]="addTransfertImmoForm.get('employe_id')?.invalid && addTransfertImmoForm.get('employe_id')?.touched"
                                 formControlName="employe_id" placeholder="Selectionner l'employé">
                      <mat-option *ngFor="let item of lstEmployer" [disabled]="false" [value]="item.id"
                      >{{ item.nom }} {{ item.prenom }}    </mat-option>
                    </mat-select>
                    <div
                      *ngIf="addTransfertImmoForm.get('employe_id')?.invalid && addTransfertImmoForm.get('employe_id')?.touched">
                      <small
                        *ngIf="addTransfertImmoForm.get('employe_id')?.invalid && addTransfertImmoForm.get('employe_id')?.touched"
                        class="text-danger"> *le destinataire est obligatoire</small>
                    </div>
                  </div>


                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">OBSERVATION<span class="text-danger"></span></label>

                    <textarea class="form-control" name="" id="" cols="30" rows="3"
                              [class.invalid]="addTransfertImmoForm.get('Observation')?.invalid && addTransfertImmoForm.get('Observation')?.touched"
                              formControlName="Observation">

                    </textarea>


                  </div>







                  <div class="submit-section">
                        <button [disabled]="isDisabledBtn" class="btn btn-primary submit-btn" type="submit">Enrégister <span class="fa fa-spinner fa-spin d-none" id="spinnerr"></span></button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /Add Poste Modal -->

  <!-- Edit poste Modal -->
  <div id="edit_department" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Modifier le Transfert</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editTrensfertImmoForm" (ngSubmit)="onClickSubmitEditArticle()" novalidate>

                  <input type="hidden" formControlName="id">

                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">Date<span class="text-danger">*</span></label>
                    <input class="form-control" type="date"
                           [class.invalid]="editTrensfertImmoForm.get('date_mouvement')?.invalid && editTrensfertImmoForm.get('date_mouvement')?.touched"
                           formControlName="date_mouvement">
                    <div
                      *ngIf="editTrensfertImmoForm.get('date_mouvement')?.invalid && editTrensfertImmoForm.get('date_mouvement')?.touched">
                      <small
                        *ngIf="editTrensfertImmoForm.get('date_mouvement')?.invalid && editTrensfertImmoForm.get('date_mouvement')?.touched"
                        class="text-danger"> *le code est obligatoire</small>
                    </div>
                  </div>






<!--                  <div class="input-block mb-3">-->
<!--                    <label class="col-form-label" for="">Fournisseur<span class="text-danger">*</span></label>-->

<!--                    <mat-select  class="select mat-cust-select form-control"-->
<!--                                 [class.invalid]="editReparationImmoForm.get('fournisseur')?.invalid && editReparationImmoForm.get('fournisseur')?.touched"-->
<!--                                 formControlName="fournisseur" placeholder="Selectionner le fournisseur">-->
<!--                      <mat-option *ngFor="let item of lstForuniseur" [disabled]="false" [value]="item.nom"-->
<!--                      >{{ item.nom }}   </mat-option>-->
<!--                    </mat-select>-->


<!--                  </div>-->




                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Enrégister</button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /Edit Department Modal -->

  <!-- Delete Department Modal -->
  <div class="modal custom-modal fade" id="delete_department" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="form-header">
                      <h3>Supprimer le Transfert</h3>
                      <p>Êtes-vous sûr de vouloir supprimer ?</p>
                  </div>
                  <div class="modal-btn delete-action">
                      <div class="row">
                          <div class="col-6">
                            <form [formGroup]="deleteEntreeImmoForm" (ngSubmit)="onClickSubmitDeleteBanque()">
                              <input type="hidden" formControlName="id">
                              <a href="javascript:void(0);" class="btn btn-primary continue-btn" type="submit" (click)="onClickSubmitDeleteBanque()">Supprimer</a>
                            </form>
                          </div>
                          <div class="col-6">
                              <a href="javascript:void(0);" data-bs-dismiss="modal"
                                  class="btn btn-primary cancel-btn">Annuler</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /Delete Department Modal -->
</div>
