<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Informations de base</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de Bord</a></li>
              <li class="breadcrumb-item active">Informations de base</li>
            </ul>
        </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row info-form">
    <form [formGroup]="setInfoDeBaseForm" (ngSubmit)="setInfoDeBase()" novalidate>

      <div formArrayName="items">
        <ng-container *ngIf="itemsFormArray">
          <div class="row">
            <div *ngFor="let itemGroup of itemsFormArray.controls; let i = index" [formGroupName]="i" class="input-block mb-3 col-4 row">
              <div class="input-block mb-3">
                <input class="form-control" type="hidden" formControlName="cle" placeholder="Clé du paramètre" readonly>
              </div>

              <ng-container *ngIf="itemGroup.get('valeur')?.value; else is_valeur_txt;">
                <div class="input-block mb-3 col-11">
                  <label class="col-form-label" for="valeur"> {{ itemGroup.get('cle')?.value }} </label>
                  <input class="form-control" type="number" formControlName="valeur" placeholder="Valeur du paramètre" [readonly]="lstReadonly[itemGroup.get('cle')?.value]"
                    [class.invalid]="itemGroup.get('valeur')?.invalid && itemGroup.get('valeur')?.touched">
                  <small *ngIf="itemGroup.get('valeur')?.touched && itemGroup.get('valeur')?.invalid" class="text-danger">
                    *La valeur entrée est invalide
                  </small>
                </div>

                <div class="input-block mb-3 col-1">
                  <a (click)="switchReadOnlyValue(itemGroup.get('cle')?.value)" id="edit_parameter">
                    <i class="fa-solid fa-pencil" id="edit_parameter_icon"></i>
                  </a>
                </div>
              </ng-container>

              <ng-template #is_valeur_txt>
                <div class="input-block mb-3 col-11">
                  <label class="col-form-label" for="valeur_txt"> {{ itemGroup.get('cle')?.value }} </label>
                  <input class="form-control" type="text" formControlName="valeur_txt" placeholder="Valeur du paramètre" [readonly]="lstReadonly[itemGroup.get('cle')?.value]"
                    [class.invalid]="itemGroup.get('valeur_txt')?.invalid && itemGroup.get('valeur_txt')?.touched">
                  <small *ngIf="itemGroup.get('valeur_txt')?.touched && itemGroup.get('valeur_txt')?.invalid" class="text-danger">
                    *La valeur entrée est invalide
                  </small>
                </div>

                <div class="input-block mb-3 col-1">
                  <a (click)="switchReadOnlyValue(itemGroup.get('cle')?.value)" id="edit_parameter">
                    <i class="fa-solid fa-pencil" id="edit_parameter_icon"></i>
                  </a>
                </div>
              </ng-template>

            </div>
          </div>
        </ng-container>
      </div>

      <div class="submit-section">
        <button type="submit" class="btn btn-primary submit-btn">Enregistrer</button>
      </div>
    </form>
  </div>

</div>
<!-- /Page Content -->
