.info-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#edit_parameter_icon {
  display: inline-block;
  border-radius: 50%;
  margin-top: 42px;
  margin-left: -15px;
  padding: 8px;
  background-color: white;
  border: 0.25px solid rgb(200, 200, 200);
}

#edit_parameter:hover #edit_parameter_icon {
  background-color: rgb(233, 233, 233);
}

#edit_parameter_icon a {
  display: inline-block;
  vertical-align: middle;
}




.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid black;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

