<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Informations de base</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de Bord</a></li>
              <li class="breadcrumb-item active">Informations de base</li>
            </ul>
        </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row info-form">
    <form [formGroup]="setInfoDeBaseForm" (ngSubmit)="setInfoDeBase()" novalidate>

      <div formArrayName="items">

        <div class="row">
          <div formGroupName="0" class="col-4 row">
            <div class="col-10">
              <label class="col-form-label" for="valeur">Nom de la catégorie</label>
              <input class="form-control" type="text" formControlName="valeur" placeholder="Valeur">
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>

      </div>

      <div class="submit-section">
        <button type="submit" class="btn btn-primary submit-btn">Enregistrer</button>
      </div>
    </form>
  </div>

</div>
<!-- /Page Content -->
