<!-- Page Wrapper -->

<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Gestion des fiches de paie</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">Fiche de paie</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto"></div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="card tab-box">
      <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
          <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item">
              <a
                href="#edition_fiche"
                data-bs-toggle="tab"
                class="nav-link active"
                >EDITION DES FICHES DE PAIE DU MOIS</a
              >
            </li>

            <li class="nav-item">
              <a href="#fiche_valide" data-bs-toggle="tab" class="nav-link"
                >FICHES DE PAIE VALIDE DU MOIS
              </a>
            </li>

            <li class="nav-item">
              <a href="#archive_fiche" data-bs-toggle="tab" class="nav-link"
                >FICHES DE PAIE ARCHIVEES
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div id="loader-wrapper_bassarou" *ngIf="showloader == true">
        <div id="loader">
          <div class="loader-ellips">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" style="margin-top: 0px; padding-top: 0px">
      <!-- EDITION DES FICHES DE PAIE DU MOIS Tab -->
      <div id="edition_fiche" class="pro-overview tab-pane fade show active">
        <div class="row">
          <div class="col-md-7">
            Nombre de fiches à enregistrer :
            {{ employes_who_has_no_fiche?.length }} {{ "  |  " }} Nombre de
            fiches déjà enregistrées :
            {{ employes_who_has_fiche?.length }}
          </div>
          <div class="col-md-5">
            <a
              class="btn add-btn"
              data-bs-toggle="modal"
              data-bs-target="#add_fiche_modal"
              (click)="initAddFiche()"
              ><i class="fa-solid fa-plus"></i> Ajouter une fiche</a
            >
          </div>
        </div>

        <hr />

        <div class="table-responsive table-newdatatable">
          <table class="table table-new custom-table mb-0 datatable">
            <thead>
              <tr>
                <th>#</th>
                <th>Employé</th>

                <th>Salaire base</th>
                <th>Total Prime</th>
                <!-- <th>Total retenue</th> -->
                <th>Salaire net</th>

                <th>Validation N.1</th>
                <th>Validation N.2</th>

                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employe of employes_who_has_fiche; let i = index">
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  {{ i + 1 }}
                </td>
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  {{ employe.nom }} {{ employe.prenom }}
                </td>

                <!-- <td>{{ contrat.date_debut | date : "dd/mm/YYYY" }}</td> -->
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  {{
                    employe.contrats[0]?.base_categorielle +
                      employe.contrats[0]?.prime_anciennete | number
                  }}
                </td>
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  {{
                    strToNumber(employe.contrats[0]?.total_prime) +
                      calculateTotalAutrePrime(
                        employe.fichepaies[0].autre_primes
                      ) | number
                  }}
                </td>
                <!-- <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  {{
                    ((employe.contrats[0]?.base_categorielle+
                      employe.contrats[0]?.prime_anciennete+
                      strToNumber(employe.contrats[0].total_prime) +
                      calculateTotalAutrePrime(
                        employe.fichepaies[0].autre_primes
                      )) *
                      employe.grade.taux_retenu_cnss_employe) /
                      100 +
                      (employe.grade.valeur_retenu_its_employe +
                        calculateTotalRetenue(
                          employe.fichepaies[0].autre_retenues
                        ))
                  }}
                </td> -->
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  {{
                    Round(employe.contrats[0]?.base_categorielle +
                      employe.contrats[0]?.prime_anciennete +
                      strToNumber(employe.contrats[0]?.total_prime) +
                      calculateTotalAutrePrime(employe.fichepaies[0]?.autre_primes)
                      -
                      (

                        ( ((employe.contrats[0]?.base_categorielle + employe.contrats[0]?.prime_anciennete +
                            strToNumber(employe.contrats[0]?.total_prime) +
                            calculateTotalAutrePrime(employe.fichepaies[0]?.autre_primes)
                          )
                          *
                          employe.grade.taux_retenu_cnss_employe) /
                          100)
                        +

                        calculeITS(  (employe.contrats[0]?.base_categorielle +
                          employe.contrats[0]?.prime_anciennete +
                          strToNumber(employe.contrats[0]?.total_prime) +
                          calculateTotalAutrePrime(
                            employe.fichepaies[0].autre_primes
                          )))

                        +
                        calculateTotalRetenue( employe.fichepaies[0].autre_retenues )
                      ))
                      | number
                  }}
                </td>
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  <mat-slide-toggle
                    color="primary"
                    (change)="
                      getValideFicheFormSwitch(
                        employe.fichepaies[0].id,
                        'Valider Niveau 1'
                      )
                    "
                    [checked]="
                      employe.fichepaies[0].validation1 == 1 ? true : false
                    "
                  >
                    <span
                      *ngIf="employe.fichepaies[0].validation1 == 1"
                      class="badge bg-inverse-success"
                      >OUI</span
                    >
                    <span
                      *ngIf="employe.fichepaies[0].validation1 == 0"
                      class="badge bg-inverse-warning"
                      >NON</span
                    >
                  </mat-slide-toggle>
                  <!--
                  <mat-slide-toggle [checked]="a.isvedette ==1 ? true:false " (change)="checkCheckBoxvalue($event,a.id)">

                                            </mat-slide-toggle> -->
                </td>

                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  <mat-slide-toggle
                    color="primary"
                    (change)="
                      getValideFicheFormSwitch(
                        employe.fichepaies[0].id,
                        'Valider Niveau 2'
                      )
                    "
                    [checked]="
                      employe.fichepaies[0].validation2 == 1 ? true : false
                    "
                  >
                    <span
                      *ngIf="employe.fichepaies[0].validation2 == 1"
                      class="badge bg-inverse-success"
                      >OUI</span
                    >
                    <span
                      *ngIf="employe.fichepaies[0].validation2 == 0"
                      class="badge bg-inverse-warning"
                      >NON</span
                    >
                  </mat-slide-toggle>
                </td>

                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 0 ||
                    employe.fichepaies[0].validation2 == 0
                  "
                >
                  <div class="table-actions d-flex">
                    <!-- <a class="delete-table me-2">
                      <img src="assets/img/icons/eye.svg" alt="Eye Icon" />
                    </a> -->

                    <div class="dropdown">
                      <a
                        class="action-icon"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="material-icons">more_vert</i></a
                      >
                      <div class="dropdown-menu dropdown-menu-right">
                        <a
                          class="dropdown-item"
                          (click)="initEditeFiche(employe.fichepaies[0].id)"
                          data-bs-toggle="modal"
                          data-bs-target="#add_fiche_modal"
                        >
                          Affiche la fiche</a
                        >

                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#valide_fiche"
                          (click)="
                            getValideFicheForm(
                              employe.fichepaies[0].id,
                              'Valider Niveau 1'
                            )
                          "
                        >
                          Valider Niveau 1</a
                        >
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#valide_fiche"
                          (click)="
                            getValideFicheForm(
                              employe.fichepaies[0].id,
                              'Valider Niveau 1'
                            )
                          "
                        >
                          Valider Niveau 2</a
                        >

                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#valide_fiche"
                          (click)="
                            getValideFicheForm(
                              employe.fichepaies[0].id,
                              'Supprimer la fiche'
                            )
                          "
                          >Supprimer la fiche</a
                        >
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br /><br /><br />
          <br /><br /><br />
          <br /><br /><br />
        </div>
      </div>

      <!--   FICHES DE PAIE DU MOIS VALIDE -->
      <div id="fiche_valide" class="tab-pane fade">
        <hr />
        FICHES DE PAIE DU MOIS VALIDE
        <div class="table-responsive table-newdatatable">
          <table class="table table-new custom-table mb-0 datatable">
            <thead>
              <tr>
                <th>#</th>
                <th>Employé</th>

                <th>Salaire base</th>
                <th>Total Prime</th>
                <!-- <th>Total retenue</th> -->
                <th>Salaire net</th>

                <th>Validation N.1</th>
                <th>Validation N.2</th>

                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employe of employes_who_has_fiche; let i = index">
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  {{ i + 1 }}
                </td>
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  {{ employe.nom }} {{ employe.prenom }}
                </td>

                <!-- <td>{{ contrat.date_debut | date : "dd/mm/YYYY" }}</td> -->
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  {{
                    employe.contrats[0]?.base_categorielle +
                      employe.contrats[0]?.prime_anciennete | number
                  }}
                </td>
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  {{
                    strToNumber(employe.contrats[0]?.total_prime) +
                      calculateTotalAutrePrime(
                        employe.fichepaies[0]?.autre_primes
                      )
                  }}
                </td>
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  {{
                  Round(employe.contrats[0]?.base_categorielle +
                    employe.contrats[0]?.prime_anciennete +
                    strToNumber(employe.contrats[0]?.total_prime) +
                    calculateTotalAutrePrime(employe.fichepaies[0]?.autre_primes)
                    -
                    (

                      ( ((employe.contrats[0]?.base_categorielle + employe.contrats[0]?.prime_anciennete +
                          strToNumber(employe.contrats[0]?.total_prime) +
                          calculateTotalAutrePrime(employe.fichepaies[0]?.autre_primes)
                        )
                        *
                        employe.grade.taux_retenu_cnss_employe) /
                        100)
                      +

                      calculeITS(  (employe.contrats[0]?.base_categorielle +
                        employe.contrats[0]?.prime_anciennete +
                        strToNumber(employe.contrats[0]?.total_prime) +
                        calculateTotalAutrePrime(
                          employe.fichepaies[0].autre_primes
                        )))

                      +
                      calculateTotalRetenue( employe.fichepaies[0].autre_retenues )
                    )) | number
                  }}
                </td>
                <!-- <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  {{
                    employe.contrats[0]?.base_categorielle+
                      employe.contrats[0]?.prime_anciennete+
                      strToNumber(employe.contrats[0].total_prime) +
                      calculateTotalAutrePrime(
                        employe.fichepaies[0].autre_primes
                      ) -
                      ((employe.contrats[0]?.base_categorielle+
                        employe.contrats[0]?.prime_anciennete+
                        strToNumber(employe.contrats[0].total_prime) +
                        calculateTotalAutrePrime(
                          employe.fichepaies[0].autre_primes
                        )) *
                        employe.grade.taux_retenu_cnss_employe) /
                        100 +
                      employe.grade.valeur_retenu_its_employe +
                      calculateTotalRetenue(
                        employe.fichepaies[0].autre_retenues
                      )
                  }}
                </td> -->
                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  <mat-slide-toggle
                    disabled="true"
                    color="primary"
                    [checked]="
                      employe.fichepaies[0].validation1 == 1 ? true : false
                    "
                  >
                    <span
                      *ngIf="employe.fichepaies[0].validation1 == 1"
                      class="badge bg-inverse-success"
                      >OUI</span
                    >
                    <span
                      *ngIf="employe.fichepaies[0].validation1 == 0"
                      class="badge bg-inverse-warning"
                      >NON</span
                    >
                  </mat-slide-toggle>
                  <!--
                  <mat-slide-toggle [checked]="a.isvedette ==1 ? true:false " (change)="checkCheckBoxvalue($event,a.id)">

                                            </mat-slide-toggle> -->
                </td>

                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  <mat-slide-toggle
                    disabled="true"
                    color="primary"
                    [checked]="
                      employe.fichepaies[0].validation2 == 1 ? true : false
                    "
                  >
                    <span
                      *ngIf="employe.fichepaies[0].validation2 == 1"
                      class="badge bg-inverse-success"
                      >OUI</span
                    >
                    <span
                      *ngIf="employe.fichepaies[0].validation2 == 0"
                      class="badge bg-inverse-warning"
                      >NON</span
                    >
                  </mat-slide-toggle>
                </td>

                <td
                  *ngIf="
                    employe.fichepaies[0].validation1 == 1 &&
                    employe.fichepaies[0].validation2 == 1
                  "
                >
                  <div class="table-actions d-flex">
                    <!-- <a class="delete-table me-2">
                      <img src="assets/img/icons/eye.svg" alt="Eye Icon" />
                    </a> -->

                    <div class="dropdown">
                      <a
                        class="action-icon"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="material-icons">more_vert</i></a
                      >
                      <div class="dropdown-menu dropdown-menu-right">
                        <a
                          class="dropdown-item"
                          (click)="exportFichePaie(employe.fichepaies[0].id)"
                        >
                          Affiche la fiche</a
                        >
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <br /><br /><br />
          <br /><br /><br />
          <br /><br /><br />
        </div>
      </div>
    </div>

    <!-- Ajouter contract Modal -->
    <div id="add_fiche_modal" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Edition fiche de paie
              <!-- {{ curentEmploye.employe.nom }}
              {{ curentEmploye.employe.prenom }} -->
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form
              [formGroup]="addEmployeFichePaieForm"
              (ngSubmit)="onClickSubmitaddEmployeFiche()"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="input-block mb-3">
                    <input hidden type="text" formControlName="employe_id" />
                    <label class="col-form-label" for=""
                      >Employé<span class="text-danger">*</span></label
                    >

                    <mat-select
                      *ngIf="editMode == false"
                      class="user-assets select form-control"
                      placeholder="-"
                      [compareWith]="compareEmployeObjects"
                      [(ngModel)]="selectedEmp"
                      (selectionChange)="selectedEmpChange()"
                      formControlName="employe"
                    >
                      <mat-option
                        *ngFor="let data of employes_who_has_no_fiche"
                        [value]="data"
                      >
                        {{ data.nom }} {{ data.prenom }}
                      </mat-option>
                    </mat-select>

                    <mat-select
                      *ngIf="editMode == true"
                      class="user-assets select form-control"
                      placeholder="-"
                      [compareWith]="compareEmployeObjects"
                      formControlName="employe_edit"
                      [(value)]="selectedEmp"
                    >
                      <mat-option [value]="selectedEmp" selected>
                        {{ selectedEmp.nom }} {{ selectedEmp.prenom }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-block mb-3">
                    <label class="col-form-label" for="">Grade</label>
                    <input
                      readonly
                      type="text"
                      formControlName="grade"
                      class="form-control"
                      value="P1-1"
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="input-block mb-3">
                    <label class="col-form-label" for=""
                      >Base catégorielle /Rémunér. forfaitaire
                    </label>
                    <input
                      readonly
                      type="text"
                      formControlName="base_categorielle"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-block mb-3">
                    <label class="col-form-label" for=""
                      >Prime d'ancienneté</label
                    >
                    <input
                      readonly
                      type="text"
                      formControlName="prime_anciennete"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h5>
                          Les primes ({{
                            this.selectedEmp?.contrats[0]?.total_prime
                          }})
                        </h5>
                        <ul>
                          <li
                            *ngFor="
                              let prime of this.selectedEmp?.contrats[0]?.prime
                            "
                          >
                            {{ prime.indenmite }} :
                            {{ prime.montant_indenmite }}
                          </li>
                        </ul>
                        <br />

                        <h5>Autre Indemnités ({{ totalAutrePrime }})</h5>

                        <div class="row" [formGroup]="formAutrePrime">
                          <div formArrayName="itemsAutrePrimes">
                            <div
                              *ngFor="
                                let item of itemsAutrePrimes.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">
                                      Indemnité {{ i + 1 }}
                                    </label>
                                    <input
                                      type="text"
                                      id="indemnite"
                                      formControlName="indenmite"
                                      class="form-control"
                                    />
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for=""
                                      >Montant {{ i + 1 }}</label
                                    >
                                    <input
                                      type="number"
                                      id="montant_indemnite"
                                      (change)="calucleTotalAutrePrime()"
                                      formControlName="montant_indenmite"
                                      class="form-control"
                                    />
                                  </div>
                                </div>
                                <div class="col-md-1" style="">
                                  <br />
                                  <br />
                                  <a
                                    href="javascript:void(0);"
                                    class="delete-icon"
                                    (click)="removeAutrePrime(i)"
                                    ><i class="fa-regular fa-trash-can"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <h5>les retenues sur salaire</h5>

                        <ul>
                          <li>
                            Cotisation CNSS ({{
                              this.selectedEmp?.grade.taux_retenu_cnss_employe
                            }}%) :
                            {{
                             Round( ((selectedEmp?.contrats[0]?.base_categorielle +
                              this.selectedEmp?.contrats[0]
                                ?.prime_anciennete +
                              strToNumber(
                                this.selectedEmp?.contrats[0]?.total_prime
                              ) +
                              strToNumber(totalAutrePrime)) *
                              this.selectedEmp?.grade
                                .taux_retenu_cnss_employe) /
                              100)

                            }}
                          </li>
                          <li>
                            ITS ({{
                              this.selectedEmp?.grade.taux_retenu_its_employe
                            }}%) :
                            {{
                            calculeITS( selectedEmp?.contrats[0]?.base_categorielle +
                              this.selectedEmp?.contrats[0]
                                ?.prime_anciennete +
                              strToNumber(
                                this.selectedEmp?.contrats[0]?.total_prime
                              ) +
                              strToNumber(totalAutrePrime))
                            }}
                          </li>

                          <li>
                            IPTS ({{
                              this.selectedEmp?.grade.taux_retenu_its_employe
                            }}%) :
                            {{
                            calculeIPTS( selectedEmp?.contrats[0]?.base_categorielle +
                              this.selectedEmp?.contrats[0]
                                ?.prime_anciennete +
                              strToNumber(
                                this.selectedEmp?.contrats[0]?.total_prime
                              ) +
                              strToNumber(totalAutrePrime))
                            }}
                          </li>
                          <!-- <li>indemite de transport : 9000</li> -->
                        </ul>
                        <br />
                        <br />

                        <h5>
                          Autre retenues sur salaire({{ totalAutreRetenue }})
                        </h5>

                        <div class="row" [formGroup]="formAutreRetenue">
                          <div formArrayName="itemsAutreRetenues">
                            <div
                              *ngFor="
                                let item of itemsAutreRetenues.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for="">
                                      Retenue {{ i + 1 }}
                                    </label>
                                    <input
                                      type="text"
                                      formControlName="retenue"
                                      class="form-control"
                                    />
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="input-block mb-3">
                                    <label class="col-form-label" for=""
                                      >Montant {{ i + 1 }}</label
                                    >
                                    <input
                                      type="number"
                                      (change)="calucleTotalAutreRetenue()"
                                      formControlName="montant"
                                      class="form-control"
                                    />
                                  </div>
                                </div>
                                <div class="col-md-1" style="">
                                  <br />
                                  <br />
                                  <a
                                    href="javascript:void(0);"
                                    class="delete-icon"
                                    (click)="removeAutreRetenue(i)"
                                    ><i class="fa-regular fa-trash-can"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="add-more">
                          <a
                            href="javascript:void(0); "
                            (click)="addAutrePrime()"
                            ><i class="fa-solid fa-plus-circle"></i> Ajouter
                            autres primes</a
                          >
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="add-more">
                          <a
                            href="javascript:void(0); "
                            (click)="addAutreRetenue()"
                            ><i class="fa-solid fa-plus-circle"></i> Ajouter
                            autres retenues</a
                          >
                        </div>
                      </div>
                    </div>

                    <br />

                    <!-- <h3 class="card-title">Les Primes fixes | FCFA</h3> -->

                    <!-- <div class="row" [formGroup]="form">
                      <div formArrayName="items">
                        <div
                          *ngFor="let item of items.controls; let i = index"
                          [formGroupName]="i"
                        >
                          <div class="row">
                            <div class="col-md-4">
                              <div class="input-block mb-3">
                                <label class="col-form-label" for="">
                                  Indemnité {{ i + 1 }}
                                </label>
                                <input
                                  type="text"
                                  id="indemnite"
                                  formControlName="indenmite"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="input-block mb-3">
                                <label class="col-form-label" for=""
                                  >Montant de l'indemnité {{ i + 1 }}</label
                                >
                                <input
                                  type="number"
                                  (change)="calucleTotalAutrePrime()"
                                  formControlName="montant_indenmite"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-md-1" style="">
                              <br />
                              <br />
                              <a href="javascript:void(0);" class="delete-icon"
                                ><i class="fa-regular fa-trash-can"></i
                              ></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->

                    <!--                {{ form.value.items | json}}-->
                    <!--               {{totalPrime}}-->
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table border="1" class="table">
                        <thead>
                          <tr>
                            <th rowspan="2" class="ceneter_cell">
                              Salaire Brut
                            </th>
                            <th rowspan="2" class="ceneter_cell">
                              Base imposable
                            </th>

                            <th colspan="2" class="ceneter_cell">
                              Part Employé
                            </th>
                            <!-- <th>ITS (Part Employé)</th> -->

                            <th colspan="2" class="ceneter_cell">
                              Part Employeur
                            </th>
                            <!-- <th>ITS (Part Employeur)</th> -->
                          </tr>

                          <tr>
                            <th class="ceneter_cell">CNSS</th>
                            <th class="ceneter_cell">ITS</th>
                            <th class="ceneter_cell">CNSS</th>
                            <th class="ceneter_cell">ITS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="ceneter_cell">
                              {{
                                selectedEmp?.contrats[0]?.base_categorielle +
                                  this.selectedEmp?.contrats[0]
                                    ?.prime_anciennete +
                                  strToNumber(
                                    this.selectedEmp?.contrats[0]?.total_prime
                                  ) +
                                  strToNumber(totalAutrePrime)
                              }}
                            </td>
                            <td class="ceneter_cell">
                              {{
                                selectedEmp?.contrats[0]?.base_categorielle +
                                  this.selectedEmp?.contrats[0]
                                    ?.prime_anciennete +
                                  strToNumber(
                                    this.selectedEmp?.contrats[0]?.total_prime
                                  ) +
                                  strToNumber(totalAutrePrime)
                              }}
                            </td>

                            <td class="ceneter_cell">
                              {{
                              Round( ((selectedEmp?.contrats[0]?.base_categorielle +
                                this.selectedEmp?.contrats[0]
                                  ?.prime_anciennete +
                                strToNumber(
                                  this.selectedEmp?.contrats[0]?.total_prime
                                ) +
                                strToNumber(totalAutrePrime)) *
                                this.selectedEmp?.grade
                                  .taux_retenu_cnss_employe) /
                                100)
                              }}
                            </td>
                            <td class="ceneter_cell">
                                {{
                              calculeITS( selectedEmp?.contrats[0]?.base_categorielle +
                              this.selectedEmp?.contrats[0]
                                ?.prime_anciennete +
                              strToNumber(
                                this.selectedEmp?.contrats[0]?.total_prime
                              ) +
                              strToNumber(totalAutrePrime))

                              }}

<!--                              {{-->
<!--                                ((selectedEmp?.contrats[0]?.base_categorielle +-->
<!--                                  this.selectedEmp?.contrats[0]-->
<!--                                    ?.prime_anciennete +-->
<!--                                  strToNumber(-->
<!--                                    this.selectedEmp?.contrats[0]?.total_prime-->
<!--                                  ) +-->
<!--                                  strToNumber(totalAutrePrime)) *-->
<!--                                  this.selectedEmp?.grade-->
<!--                                    .taux_retenu_its_employe) /-->
<!--                                  100-->
<!--                              }}-->
                            </td>
                            <td class="ceneter_cell">
                              {{
                              Round(  ((selectedEmp?.contrats[0]?.base_categorielle +
                                  this.selectedEmp?.contrats[0]
                                    ?.prime_anciennete +
                                  strToNumber(
                                    this.selectedEmp?.contrats[0]?.total_prime
                                  ) +
                                  strToNumber(totalAutrePrime)) *
                                  this.selectedEmp?.grade
                                    .taux_retenu_cnss_employeur) /
                                  100)
                              }}
                            </td>
                            <td class="ceneter_cell">
                              {{
                              Round( ((selectedEmp?.contrats[0]?.base_categorielle +
                                  this.selectedEmp?.contrats[0]
                                    ?.prime_anciennete +
                                  strToNumber(
                                    this.selectedEmp?.contrats[0]?.total_prime
                                  ) +
                                  strToNumber(totalAutrePrime)) *
                                  this.selectedEmp?.grade
                                    .taux_retenu_its_employeur) /
                                  100)
                              }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="submit-section">
                  <button class="btn btn-primary submit-btn">Enregister</button>
                </div>
              </div>
            </form>

            <!-- {{ itemsAutreRetenues.value | json }} -->

            <br />

            <!-- {{ selectedEmp | json }} -->
          </div>
        </div>
      </div>
    </div>

    <!-- Valider Contrat Modal -->

    <div class="modal custom-modal fade" id="valide_fiche" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-header">
              <h3>{{ titreAction }}</h3>
              <p>Êtes-vous sûr de vouloir {{ titreAction }} ?</p>
            </div>
            <div class="modal-btn delete-action">
              <div class="row">
                <div class="col-6">
                  <form [formGroup]="valideFichepaieForm">
                    <input type="hidden" formControlName="id" />
                    <input type="hidden" formControlName="action" />
                    <a
                      href="javascript:void(0);"
                      class="btn btn-primary continue-btn"
                      type="submit"
                      (click)="onClickSubmitValideFiche()"
                      >OUI</a
                    >
                  </form>
                </div>
                <div class="col-6">
                  <a
                    href="javascript:void(0);"
                    data-bs-dismiss="modal"
                    class="btn btn-primary cancel-btn"
                    >Annuler</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Delete role Modal -->
  </div>
</div>
<!-- /Page Wrapper -->
