<!-- Page Wrapper -->

<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Gestion des fiches de paie</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">Fiche de paie</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto"></div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="card tab-box">
      <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
          <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item">
              <a
                href="#emp_profile"
                data-bs-toggle="tab"
                class="nav-link active"
                >EDITION DES FICHES DE PAIE DU MOIS</a
              >
            </li>

            <li class="nav-item">
              <a href="#bank_statutory" data-bs-toggle="tab" class="nav-link"
                >FICHES DE PAIE VALIDE DU MOIS
              </a>
            </li>

            <li class="nav-item">
              <a href="#bank_statutory" data-bs-toggle="tab" class="nav-link"
                >FICHES DE PAIE ARCHIVEES
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-content" style="margin-top: 0px; padding-top: 0px">
      <!-- Profile Info Tab -->
      <div id="emp_profile" class="pro-overview tab-pane fade show active">
        wdlk
      </div>
      <!-- /Profile Info Tab -->
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
