<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="welcome-box">
        <div class="welcome-img">
          <img alt="" src="assets/img/profiles/avatar-2.jpg" />
        </div>
        <div class="welcome-det">
          <h3> Bienvenu, {{ dashboard.employe.nom }} {{ dashboard.employe.prenom }} </h3>
          <!-- <p>Lundi, 20 mars 2024</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="col-md-12 d-flex">
        <div class="card card-table flex-fill">
          <div class="card-header">
            <h3 class="card-title mb-0">Mes demandes</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table custom-table mb-0">
                <thead>
                  <tr>
                    <th style="width: 30px">#</th>
                    <th mat-sort-header="DemandeStart">Objet</th>
                    <th mat-sort-header="DemandeEnd">Contenu</th>
                    <th mat-sort-header="DemandeStatus">Statut</th>
                    <th mat-sort-header="DemandeDate">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let demande of dashboard.top10_demandes">
                    <td>{{ demande.id }}</td>
                    <td>{{ demande.objet }}</td>
                    <td>{{ demande.contenue }}</td>
                    <td>{{ demande.status }}</td>
                    <td>{{ demande.date_demande | date : "dd/MM/YYYY" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <a [routerLink]="routes.demandes">Voir toutes mes demandes</a>
          </div>
        </div>
      </div>

      <div class="col-md-12 d-flex">
        <div class="card card-table flex-fill">
          <div class="card-header">
            <h3 class="card-title mb-0">Mes Plaintes</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table custom-table mb-0">
                <thead>
                  <tr>
                    <th style="width: 30px">#</th>
                    <th mat-sort-header="DemandeStart">Objet</th>
                    <th mat-sort-header="DemandeEnd">Contenu</th>
                    <th mat-sort-header="DemandeStatus">Statut</th>
                    <th mat-sort-header="DemandeDate">Date</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let plainte of dashboard.top10_plaintes">
                    <td>{{ plainte.id }}</td>
                    <td>{{ plainte.titre }}</td>
                    <td>{{ plainte.description }}</td>
                    <td>{{ (plainte.status) ? plainte.status : "-" }}</td>
                    <td>{{ plainte.date_M | date : "dd/MM/YYYY" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <a [routerLink]="routes.plaintes">Voir toutes mes plaintes</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="dash-sidebar">
        <section>
          <h5 class="dash-title">CONGÉS</h5>
          <div class="card">
            <div class="card-body">
              <div class="time-list">
                <div class="dash-stats-list">
                  <h4>{{ dashboard.conges_info.jours_conges_pris }} jours</h4>
                  <p>CONGÉS PRIS</p>
                </div>
                <div class="dash-stats-list">
                  <h4>{{ dashboard.conges_info.TOTAL_JOURS_CONGE - dashboard.conges_info.jours_conges_pris }} jours</h4>
                  <p>CONGÉS RESTANTS</p>
                </div>
              </div>
              <div class="request-btn">
                <a [routerLink]="routes.demandes" class="btn btn-primary">Demande de congé</a>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h5 class="dash-title">MES HEURES SUPLEMENTAIRES</h5>
          <div class="card">
            <div class="card-body">
              <div class="time-list">
                <div class="dash-stats-list">
                  <h4>{{ dashboard.heures_sup_infos.heures_sup_approuves }} Heures</h4>
                  <p>Approuvées</p>
                </div>
                <div class="dash-stats-list">
                  <h4>{{ dashboard.heures_sup_infos.heures_sup_non_approuves }} Heures</h4>
                  <p>Non Approuvées</p>
                </div>
              </div>
              <div class="request-btn">
                <a [routerLink]="routes.mes_heures_supplementaires" class="btn btn-primary">Ajouter</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
