#forgot-password-button {
  margin-top: -8px;

  .custom-link {
    color: black; // Couleur de texte noire par défaut
    text-decoration: none;
    transition: color 0.3s;
    position: relative; // Ajout d'une position relative pour le dégradé
    overflow: hidden; // Masque le dégradé qui déborde

    &:hover {
      color: transparent; // Masque la couleur du texte au survol
      background-image: linear-gradient(to right, orange, red);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// Hover et Focus sur le bouton de login
.account-box .account-btn:hover, .account-box .account-btn:focus {
  border: 0;
  opacity: 0.8;
}
