<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Liste des fournisseurs</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">fournisseur</li>
                </ul>
            </div>

            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_department"><i
                        class="fa-solid fa-plus"></i> Ajouter un fournisseur</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label class="col-form-label" for="">
                                Afficher
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entrées
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="to_export" class="table-responsive">
                <table matSort (matSortChange)="sortData($event)"
                    class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th mat-sort-header="code">Code</th>
                            <th mat-sort-header="intitule">Intitulé</th>
                            <th mat-sort-header="categorie">Catégorie</th>
                            <th class="text-end" id="exclusion-1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstFournisseur; let i = index;">
                            <td>{{i+1}}</td>
                            <td><span class="badge bg-inverse-info">{{item.code}}</span></td>
                            <td>{{item.intitule}}</td>
                            <td>{{item.categorie?.intitule || 'N/A'}}</td>
                            <td class="text-end" id="exclusion-2">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" (click)="getEditForm(item)"
                                            data-bs-target="#edit_department"><i class="fa-solid fa-pencil m-r-5"></i>
                                            Modifier</a>
                                        <a class="dropdown-item" data-bs-toggle="modal" (click)="getDeleteForm(item)"
                                            data-bs-target="#delete_department"><i class="fa-regular fa-trash-can m-r-5"></i>
                                            Supprimer</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lstFournisseur.length === 0">
                            <td colspan="5">
                                <h5 style="text-align: center;">Aucun Résultat</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Affichage de {{ serialNumberArray[0] || 0 }} à
                        {{ serialNumberArray[serialNumberArray.length - 1] || 0 }} sur
                        {{ totalData }} Entrées
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Précédent</a>
                            </li>
                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                            </ng-container>
                            <li class="page-item" [ngClass]="{ disabled: currentPage === totalPages || lstFournisseur.length === 0 }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Suivant</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div id="add_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un fournisseur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addFournisseurForm" (ngSubmit)="onClickSubmitAddBanque()">
                    <div class="input-block mb-3">
                        <label class="col-form-label">Code <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="code" placeholder="Ex: 001">
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label">Intitulé / Nom <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="intitule">
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label">Catégorie <span class="text-danger">*</span></label>
                        <select class="form-select form-control" formControlName="categorie_fournisseur_id">
                            <option value="">-- Sélectionner une catégorie --</option>
                            <option *ngFor="let cat of lstCategorie" [value]="cat.id">
                                {{cat.intitule}}
                            </option>
                        </select>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Enregistrer 
                            <span class="fa fa-spinner fa-spin d-none" id="spinnerr"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div id="edit_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le fournisseur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editFournisseurForm" (ngSubmit)="onClickSubmitEditBanque()">
                    <input type="hidden" formControlName="id">
                    
                    <div class="input-block mb-3">
                        <label class="col-form-label">Code <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="code">
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label">Intitulé / Nom <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="intitule">
                    </div>

                    <div class="input-block mb-3">
                        <label class="col-form-label">Catégorie <span class="text-danger">*</span></label>
                        <select class="form-select form-control" formControlName="categorie_fournisseur_id">
                            <option *ngFor="let cat of lstCategorie" [value]="cat.id">
                                {{cat.intitule}}
                            </option>
                        </select>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Enregistrer 
                            <span class="fa fa-spinner fa-spin d-none" id="spinner"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal custom-modal fade" id="delete_department" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Supprimer le fournisseur</h3>
                    <p>Êtes-vous sûr de vouloir supprimer ce fournisseur ?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" (click)="onClickSubmitDeleteBanque()">Supprimer</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>