<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Point des Contrats</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Point des contrats</li>
                </ul>
            </div>

            <div class="col-auto row">
              <div class="col-auto">
                <a class="btn btn-primary continue-btn small-btn" (click)="exportToPDF()">Exporter PDF
                  <span class="fa fa-spinner fa-spin d-none" id="spinner_pdf"></span>
                </a>
              </div>
              <div class="col-auto">
                <a data-bs-dismiss="modal" class="btn btn-primary cancel-btn small-btn" (click)="exportToXLSX()">Exporter EXCEL
                  <span class="fa fa-spinner fa-spin d-none" id="spinner_xlsx"></span>
                </a>
              </div>
            </div>

            <!-- <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_Demande"><i
                        class="fa-solid fa-plus"></i> Ajouter une demande</a>
            </div> -->
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="table_header">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <label class="col-form-label" for="">
                                Afficher
                                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                                    class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Entrées
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="example" class="table-responsive">
                <table matSort (matSortChange)="sortData($event)" id="to_export"
                    class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th mat-sort-header="employeId">Nom de l'Employé</th>
                            <th mat-sort-header="typeContrat">Type de contrat</th>
                            <th mat-sort-header="dateSignature">Date de signature</th>
                            <th mat-sort-header="dureeContrat">Durée (Semaines)</th>
                            <th mat-sort-header="dateDebut">Date début</th>
                            <th mat-sort-header="dateFin">Date fin</th>
                            <th mat-sort-header="etatContrat">Etat du contrat</th>
                            <th mat-sort-header="statutContrat">Statut du contrat</th>
                            <th class="text-end" id="exclusion-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstPointContrat; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ item.employe }}</td>

                            <ng-container *ngIf="item.contrats && item.contrats.length > 0; else none;">
                              <td>{{ item.contrats[0].libelle }}</td>
                              <td>{{ item.contrats[0].date_signature | date : "dd/MM/YYYY" }}</td>
                              <td>{{ toWeek(item.contrats[0].duree) }}</td>
                              <td>{{ item.contrats[0].date_debut | date : "dd/MM/YYYY" }}</td>
                              <td>{{ item.contrats[0].date_fin | date : "dd/MM/YYYY" }}</td>
                              <td>{{ item.contrats[0].etat }}</td>
                              <td>{{ item.contrats[0].status }}</td>
                            </ng-container>
                            <ng-template #none>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            </ng-template>

                            <td class="text-end" id="exclusion-2">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-toggle="modal" (click)="setShownDetails(item.contrats, item.employe)"
                                            data-bs-target="#show_details"><i class="fa-solid fa-pencil m-r-5"></i>
                                            Voir tout</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="lstPointContrat.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">Aucun résultat</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        Affichage de {{ serialNumberArray[0] }} à
                        {{ serialNumberArray[serialNumberArray.length - 1] }} sur
                        {{ totalData }} Entrées
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{
                          disabled: currentPage === 1
                        }">
                                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Précédent</a>
                            </li>

                            <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                            (pageNumberArray[currentPage - 2] > item &&
                              item !== 1 &&
                              pageNumberArray.length > 6) ||
                            (pageNumberArray[currentPage] < item &&
                              item !== 1 &&
                              pageNumberArray.length > 6 &&
                              pageNumberArray.length !== item)
                              ? 'hide-page-no'
                              : 'show-page-no'
                          ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                        {{ item }}
                                    </a>
                                </li>
                                <li class="page-item" *ngIf="
                            i === 0 && pageNumberArray.length > 6 && currentPage > 2
                          " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                                <li *ngIf="
                            i === pageNumberArray.length - 2 &&
                            pageNumberArray.length > 6
                          " [hidden]="
                            currentPage >=
                              pageNumberArray[pageNumberArray.length - 2] ||
                            totalData < serialNumberArray[serialNumberArray.length - 1]
                          " class="page-item" (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                    <a class="page-link" href="javascript:void(0);"> ... </a>
                                </li>
                            </ng-container>

                            <li class="page-item" [ngClass]="{
                          disabled:
                            currentPage ===
                              pageNumberArray[pageNumberArray.length - 1] ||
                            lstPointContrat.length === 0
                        }">
                                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Suivant
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->


<!-- Details Modal -->
<div id="show_details" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Liste des contrats de {{ shownEmploye }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="exclusion-1">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4>CONTRATS</h4>
            <div class="col-sm-12">
              <div class="mb-3">
                <table matSort (matSortChange)="sortData($event)" id="table_conges_to_xlsx" style="width: 100%;"
                       class="table table-striped custom-table datatable mb-0 table-responsive">
                  <thead>
                    <tr>
                      <th style="width: 30px;">#</th>
                      <th mat-sort-header="typeContrat">Type de contrat</th>
                      <th mat-sort-header="dateSignature">Date de signature</th>
                      <th mat-sort-header="dureeContrat">Durée (Semaines)</th>
                      <th mat-sort-header="dateDebut">Date début</th>
                      <th mat-sort-header="dateFin">Date fin</th>
                      <th mat-sort-header="etatContrat">Etat du contrat</th>
                      <th mat-sort-header="statutContrat">Statut du contrat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of shownContrats; let i=index;">
                      <td>{{ i+1 }}</td>
                      <td>{{ item.libelle }}</td>
                      <td>{{ item.date_signature | date : "dd/MM/YYYY" }}</td>
                      <td>{{ toWeek(item.duree) }}</td>
                      <td>{{ item.date_debut | date : "dd/MM/YYYY" }}</td>
                      <td>{{ item.date_fin | date : "dd/MM/YYYY" }}</td>
                      <td>{{ item.etat }}</td>
                      <td>{{ item.status }}</td>
                    </tr>
                    <tr *ngIf="shownContrats.lenght === 0">
                      <td colspan="10">
                        <h5 style="text-align: center;">Aucun résultat</h5>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
            <br/>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Details Modal -->
